.App {
  font-family: sans-serif;
  text-align: center;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #fec375;
}

p {
  font-family: "Stardew Valley";
}

.appHeader {
  min-width: 1024px;

  width: 100%;
  height: 100px;

  top: 0;
  left: 0;
  background-image: url("/src/images/header.jpg");
  image-rendering: pixelated;

}

.button {
  background-color: #fec375;
  border: 2px solid #672b0c;
  font-family: "Stardew Valley";
  color: #571404;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 800;
  width: 100px;
  height: 40px;
}


.button:hover {
  background-color: #e2a662;
}
.button:focus {
  background-color: #e2a662;
}

.navBar {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.logo {
  width: 263px;
  margin: auto;
  height: 36px;
  image-rendering: pixelated;
  background-image: url(/src/images/logo.png);
}

.headerLogo {
  display: flex;
  justify-content: center;
}

.userBtns {
  display: flex;
  position: absolute;
  right: 100px;
}

.userButton {
  width: fit-content;
}

.regPopup {
  position: relative;
  margin: auto;
  height: 350px;
  width: 300px;
  background: #fec375;
  border: 2px solid #672b0c;
  border-top: 4px solid #672b0c;
}

.regFields {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.regImg {
  margin-top: 35px ;
  margin-left: 30px;
}


.logPopup {
  position: relative;
  margin: auto;
  height: 230px;
  width: 200px;
  background: #fec375;
  border: 2px solid #672b0c;
  border-top: 4px solid #672b0c;
}

.logFields {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logImg {
  margin-left: 40px;
}

.userInput {
  color: #ce5252;
  font-family: "Stardew Valley";
  background-color: #ffd789;
  font-weight: 600;
  border: #672b0c 2px solid;
  height: 30px;
  margin-bottom: 10px;
}


.postPopup {
  margin: auto;
  height: 500px;
  width: 800px;
  background: #fec375;
  border: 2px solid #672b0c;
  padding: 5px;
}

.postTitle {
 width: 600px;
 height: 34px;
 margin-left: 100px;
 margin-top: 7.5px;
}

.titleImg {
  position: relative;
  left: 50%;
  margin-left: -99px;
}

.postDesc {
  width: 600px;
  margin-top: 7.5px;
  height: 150px;
  resize: none;
  margin-left: 100px;
}

.descImg {
  margin-top: 7.5px;
  position: relative;
  left: 50%;
  margin-left: -133.5px;
}

.postButton {
  position: relative;
  left: 50%;
  margin-left: -50px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.createPostDiv {
  display: flex;
  justify-content: space-between;
}

.userDrop {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,2);
  z-index: 1;
}

.userDrop button {
  background-color: #fec375;
  font-family: "Stardew Valley";
  color: #571404;
  border: 2px solid #672b0c;
  text-decoration: none;
  display: block;
  font-size: 16px;
  text-align: center;
  width: 100px;
  height: 40px; 
}

.userDrop button:hover {
  background-color:#e2a662;
}

.dropdown:hover .userDrop {
  display: block;
}

li.dropdown {
  display: inline-block;
}

.createButton {
  margin-top: 25px;
  background-color: #fec375;
  border: 2px solid #672b0c;
  font-family: "Stardew Valley";
  color: #571404;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 800;
  width: 150px;
  height: 40px;
}

.createButton:hover {
  background-color: #e2a662;
}
.createButton:focus {
  background-color: #e2a662;
}

.forum {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 100px;
  margin-top: 50px;
}

.error{
  color: #ce5252;
  font-family: "Stardew Valley";
}

.posts {
  border: 3px solid #571404;
  width: 1000px;
  margin-left: 50px;
  height: fit-content;
  min-height: 100px;
}

.postCreation {
  height: 200px;
  width: 250px;
  border: #672b0c 3px solid
}