.App {
  font-family: sans-serif;
  text-align: center;
}

html,
body {
  padding: 0;
  margin: 0;
}

.appHeader {
  min-width: 1024px;

  width: 100%;
  height: 100px;

  top: 0;
  left: 0;
  background-image: url("/public/header.jpg");
  image-rendering: pixelated;

}

.button {
  background-color: #fec375;
  border: 2px solid #672b0c;
  font-family: "Stardew Valley";
  color: #571404;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 100px;
  height: 40px;
}

.button:hover {
  background-color: #e2a662;
}
.button:focus {
  background-color: #e2a662;
}

.navBar {
  display: flex;
  align-items: center;
}

.logo {
  width: 263px;
  height: 40px;
  image-rendering: pixelated;
  display: flex;

  background-image: url(/public/logo.png);
}

.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -20px;
  background-image: url(/public/background.png);
  height: 100%;
}

.register {
}